<div id="main">
  <section id="one">
    <header class="major">
      <h2>Full Portfolio</h2>
    </header>
    <p>Dscription</p>
  </section>
  <section id="two">
    <h5>Blockquote</h5>
    <blockquote>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget tempus euismod.
      Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing
      accumsan faucibus. Vestibulum ante ipsum primis in faucibus lorem ipsum dolor sit amet nullam adipiscing eu
      felis.</blockquote>
  </section>
</div>
